$blue: #36465D;
$blue-light: #52B3D9;
$black: #333;
$black-light: #393939;
$white: #ffffff;
$white-dark: #DADADA;
$grey: #777;
$grey-light: #E6E5E1;
$grey-lighter: #ddd;
$orange: #FF7F00;
$red: #DB4A39;



$content-padding: 5px 20px;
$wrapper-padding: 5px 30px;
$shadow: 0px 1px 1px rgba(0,0,0,.2);
$shadow-blur: 0px 1px 3px rgba(0,0,0,.2);