@import 'settings';

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit !important;
}
div.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    background: $black-light;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    z-index: 50;
    div.brand {
        width: 100%;
        background: #F39A00;
        color: $white;
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        .logo {
            width: 80%;
            margin: 0px auto;
        }
    }
    nav {
        ul {
            padding: 0;
            margin: 0;
            margin-top: 50px;
            li {
                list-style: none;
                color: $white-dark;
                transition: all ease 0.3s;
                font-size: 1.5rem;
                // padding: 10px;
                border-top: 1px solid #2C2C2C;
                box-sizing: border-box;
                font-size: 18px;
                cursor: pointer;
                transition: all ease 0.4s;
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: 1px solid #2C2C2C;
                }
                &:hover {
                    background: $black;
                    color: $white;
                    a {
                        color: $white;
                    }
                }
                a {
                    padding: 10px;
                    display: inline-block;
                    width: 100%;
                }
                i {
                    color: $orange;
                    margin-right: 10px;
                }
            }
        }
    }
}

.wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    padding-left: 220px;
}
.toolbar {
    position: fixed;
    top: 0;
    height: 63px;
    width: 100%;
    background-color: $white;
    box-shadow: $shadow-blur;
    padding: 8px 20px;
    z-index: 50;
    h2.ui.header {
        font-size: 2.514rem;
        color: #BABABA;
    }
}
.main {
    padding: 30px 50px;
    margin-top: 60px;
    position: relative;
    h2.ui.header {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 0px;
        vertical-align: bottom;
    }
}
.card {
    .ui.button.icon.circular.flt {
        position: absolute;
        bottom: -25px;
        right: 20px;
        padding: 18px;
        i {
            font-size: 22px;
        }
    }
    .description {
        font-size: 16px;
    }
}
.floated.right {
    position: absolute;
    right: 50px;
    top: 40px;

}
input[type='file'] {
    margin: 0em;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    line-height: 1.2142em;
    padding: 0.67861em 1em;
    font-size: 1em;
    background: #ffffff;
    border: 1px solid rgba(39, 41, 43, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    outline: none;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}
.login {
    width: 520px;
    margin: 80px auto;
    background: $white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $shadow;
}
